*{
  font-family: monospace;
}

body{
  padding: 60px;
}

input {
  color: green;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 9px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  font-family: monospace,fantasy;
  padding: 5 px;
  text-align: center;
}

.card img {
  max-height: 170px;
}